<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.example.osbb.logging" status="INFO">
    <Appenders>
        <Console name="ConsoleSpringAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <DatabaseAppender name="DatabaseAppender">
            <MarkerFilter marker="SERVICE" onMatch="ACCEPT" onMismatch="DENY"/>
        </DatabaseAppender>

        <File name="FileJsonAppender" fileName="logs/app.log">
            <CustomJsonLayout />
            <MarkerFilter marker="API_CALL" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleSpringAppender" />
        </Root>

        <Logger name="com.example.osbb" level="INFO">
            <AppenderRef ref="FileJsonAppender" />
            <AppenderRef ref="DatabaseAppender" />
        </Logger>
    </Loggers>
</Configuration>